/* SETUP */
@import url(../style/setup/typography.css);
@import url(../style/setup/vars.css);


/* BASICS */
@import url(../style/basics/base.css);
@import url(../style/basics/helpers.css);
@import url(../style/basics/layout.css);
@import url(../style/basics/btns.css);


/* COMPONENTS */
@import url(../style/components/main-header.css);
@import url(../style/components/main-logo.css);
@import url(../style/components/main-nav.css);
@import url(../style/components/menu-btn.css);
@import url(../style/components/main-meme-generator.css);
@import url(../style/components/generator-container.css);
@import url(../style/components/canvas-container.css);
@import url(../style/components/main-editor.css);
@import url(../style/components/main-editor-header.css);
@import url(../style/components/editor-box.css);
@import url(../style/components/editor-nav.css);
@import url(../style/components/main-submit-btns.css);
@import url(../style/components/main-gallery.css);
@import url(../style/components/gallery-container.css);
@import url(../style/components/main-saved-meme.css);


/* MG */
@import url(../style/setup/mq.css);