/* MOBILE ONLY  */
@media (max-width: 840px) {

    /* main-header */

    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 201, 51, 255);
        z-index: 5;
    }

    /* main-logo */

    .main-logo {
        font-size: 1.5em;
        margin-inline-start: 0.5em;
    }

    .main-logo>a {
        color: #58578a;
        font-weight: bold;
    }

    /* main-nav */

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 1vh;

        background-color: rgba(255, 201, 51, 255);

        min-width: 150px;

        border-bottom-left-radius: 100vw;
        transition: transform 600ms, height 600ms 0.1s, border-radius 0.8s 0.2s ease;

    }

    body:not(.menu-open) .main-nav,
    body:not(.menu-open) .main-nav ul li {
        transform: translateX(100%);
    }

    body.menu-open .main-nav {
        animation: fadeInRight 600ms;
        border-bottom-left-radius: 0;
        height: 100vh;
    }

    .main-nav>ul {
        flex-direction: column;

        place-items: center;
        margin-block-start: 80px;
    }


    .main-nav>ul>li {
        transition: transform 600ms;
        transition-delay: calc(80ms * var(--delay));
    }


    /* menu-btn */

    .menu-btn {
        position: absolute;
        top: 6px;
        right: 40px;

        text-transform: uppercase;

        transform: rotate(0deg);
        transition: 600ms;
    }

    .menu-btn::before {
        content: '☰';
        display: block;
        font-size: 1.5em;

        transition: 300ms;
        transition-delay: 100ms;
    }

    .menu-btn::after {
        content: 'menu';
        transition: 300ms;
    }

    body.menu-open .menu-btn {
        transform: rotate(360deg);
    }

    body.menu-open .menu-btn::before {
        content: '✖';
        transition: 300ms;
    }

    body.menu-open .menu-btn::after {
        content: 'close';
        transition: 300ms;
        transition-delay: 100ms;
    }

    /* main-screen */

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgb(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        transition: opacity 600ms;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .main-content {
        margin-block-start: 4em;
    }
}

/* SMALL  */
@media (min-width: 640px) {

    .main-nav>ul>li {
        margin-inline-end: 1em;
    }

    /* gallery-container */

    .gallery-container {
        column-count: 3;
    }

    .my-meme-container {
        column-count: 3;
    }

}

/* MEDIUM  */
@media (min-width: 840px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }

    /* main-header */

    .main-header>.header-content {
        margin-block: 2em;
    }

    /* main-nav */

    .main-nav>ul>li {
        margin-inline-end: 5em;
    }

    /* canvas-container */
    .canvas-container {
        /* grid-column: 1; */
        width: 70vh;
    }

    /* main-editor */

    .main-editor {
        /* grid-column: 2; */
        padding: 1em;
    }

    .main-editor-header>.main-editor-logo {
        font-size: 1.375em;
    }


    /* editor-nav */

    .editor-nav {
        background-color: azure;
        gap: 0.5em;
    }
}

/* LARGE  */
@media (min-width: 1080px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

    /* gallery-container */

    .gallery-container {
        column-count: 4;
    }

    .my-meme-container {
        column-count: 4;
    }

    /* generator-container */

    .generator-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    /* canvas-container */

    .canvas-container {
        grid-column: 1;
        width: 100%;
    }

    /* main-editor */

    .main-editor {
        grid-column: 2;
        padding: 1em;
    }
}