/* MOBILE ONLY  */
@media (max-width: 840px) {

    /* main-header */

    .main-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(20, 20, 20, 0.5);
        z-index: 5;
    }

    /* main-logo */

    .main-logo {
        font-size: 1.5em;
        margin-inline-start: 0.5em;
    }

    .main-logo>a {
        font-weight: bold;
    }

    /* main-nav */

    .main-nav {
        position: fixed;
        top: 62px;
        right: 0;
        height: 0vh;

        background-color: rgb(20, 20, 20, 0.5);

        min-width: 150px;

        border-bottom-left-radius: 100vw;
        transition: transform 600ms, height 600ms 0.1s, border-radius 0.8s 0.2s ease;

    }

    body.rtl .main-nav {
        left: 0;
        right: auto;
    }

    body:not(.menu-open) .main-nav,
    body:not(.menu-open) .main-nav ul li {
        transform: translateX(100%);
    }

    body:not(.menu-open).rtl .main-nav,
    body:not(.menu-open).rtl .main-nav ul li {
        transform: translateX(-100%);
    }

    body.menu-open {
        overflow-y: hidden;
    }

    body.menu-open .main-nav {
        animation: fadeInRight 600ms;
        border-bottom-left-radius: 0;
        top: 62px;
        height: 100vh;
    }

    body.rtl.menu-open .main-nav {
        animation: fadeInLeft 600ms;
    }

    .main-nav>ul {
        flex-direction: column;
        place-items: center;
        margin-block-start: 10px;
    }


    .main-nav>ul>li {
        transition: transform 600ms;
        margin-inline: 0;
        margin-block: 1em;
    }

    .main-nav>ul>li .chibi {
        opacity: 0;
    }

    /* menu-btn */

    .menu-btn {
        position: absolute;
        top: 6px;
        right: 45px;

        text-transform: uppercase;
        opacity: 1;

        transform: rotate(0deg);
        transition: 600ms;
    }


    body.rtl .menu-btn {
        left: 45px;
        right: auto;
    }

    .menu-btn::before {
        content: '☰';
        display: block;
        font-size: 1.5em;

        transition: 300ms;
        transition-delay: 100ms;
    }

    .menu-btn::after {
        content: 'menu';
        transition: 300ms;
    }

    body.rtl .menu-btn::after {
        content: 'תפריט';
    }

    body.menu-open .menu-btn {
        transform: rotate(360deg);
    }

    body.menu-open .menu-btn::before {
        content: '✖';
        transition: 300ms;
    }

    body.menu-open .menu-btn::after {
        content: 'close';
        transition: 300ms;
        transition-delay: 100ms;
    }


    body.rtl.menu-open .menu-btn::after {
        content: 'סגור';
    }


    body.rtl.menu-open .menu-btn {
        transform: rotate(-360deg);
    }


    /* main-screen */

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgb(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        transition: opacity 600ms;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .main-content {
        margin-block-start: 4em;
    }
}

/* SMALL  */
@media (min-width: 640px) {

    .main-nav>ul>li {
        margin-inline-end: 1em;
    }

    /* gallery-container */

    .gallery-container {
        column-count: 3;
    }

    .my-meme-container {
        column-count: 3;
    }

}

/* MEDIUM  */
@media (min-width: 840px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }

    /* header-content  */
    .header-content {
        justify-content: space-between;
    }

    /* main-header */

    .main-logo {
        font-size: 1.4em;
        margin-inline-end: 3em;
        line-height: 2em;
    }

    .main-logo .chibi-logo {
        position: absolute;
        top: -10px;
        left: 1.8em;
        width: 50px;
    }


    body.rtl .main-logo .chibi-logo {
        position: absolute;
        top: -10px;
        right: 1.8em;
        width: 50px;
    }

    /* .menu-btn  */

    .menu-btn {
        opacity: 1;
    }

    .langBtn {
        margin-inline-start: 0;
    }

    /* main-nav */

    .main-nav>ul>li {
        margin-inline-end: 5em;
    }

    /* canvas-container */

    .main-meme-generator {
        display: grid;
        grid-auto-columns: minmax(400px, 1fr) minmax(auto, 1fr);
        height: 80vh;
        padding: 20px;
    }

    .canvas-box {
        height: 70vh;
        grid-column: 1;
        margin-block-end: 0;
    }

    .main-editor {
        grid-column: 2;
    }

    .main-editor-header>.main-editor-logo {
        font-size: 1em;
    }

    .main-editor>.emojis-box>.emoji {
        font-size: 1.5em;

    }

    /* editor-nav */
    .editor-nav {
        gap: 0.5em;
    }

    .main-gallery-filters {
        flex-direction: row;
        padding: 0.5em;
    }

    .main-saved-meme>.saved-meme {
        width: auto;
        margin-block: 1em;
    }


}

/* LARGE  */
@media (min-width: 1080px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

    /* main-logo  */

    .main-logo {
        font-size: 2em;
        margin-inline-end: 3em;
    }

    .main-logo .chibi-logo {
        position: absolute;
        top: -15px;
        left: 2em;
        width: 70px;
    }

    body.rtl .main-logo .chibi-logo {
        position: absolute;
        top: -15px;
        right: 2em;
        width: 70px;
    }


    /* main-nav */

    .main-nav>ul>li>a {
        font-size: 1.25em;
    }

    /* gallery-container */

    .gallery-container {
        column-count: 4;
        padding-inline: 0;
    }

    .my-meme-container {
        column-count: 4;
        padding-inline: 0;
    }

    /* .main-meme-generator */

    .main-meme-generator {
        display: grid;
        grid-auto-columns: minmax(500px, 1fr) minmax(auto, 1fr)
    }

    .canvas-box {
        height: 70vh;
        grid-column: 1;
    }

    .main-editor {
        grid-column: 2;
    }

    .editor-nav>button {
        font-size: 1.4em;
    }

    .font-size-input,
    .line-height-input {
        top: 3em;
    }

    .main-editor-header>.main-editor-logo {
        font-size: 2em;
    }

    .main-editor>.emojis-box>.emoji {
        font-size: 2em;
    }
}