/* SMALL  */
@media (min-width: 640px) {

    .main-nav>ul>li {
        margin-inline-end: 1em;
    }

    /* gallery-container */

    .gallery-container {
        column-count: 3;
    }

    .my-meme-container {
        column-count: 3;
    }

}

/* MEDIUM  */
@media (min-width: 840px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }


    /* main-header */

    .main-header>.header-content {
        margin-block: 2em;
    }

    /* main-nav */

    .main-nav>ul>li {
        margin-inline-end: 5em;
    }

    /* generator-container */

    .generator-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    /* canvas-container */
    .canvas-container {
        grid-column: 1;
        margin-block-end: 0;
    }

    /* main-editor */

    .main-editor {
        grid-column: 2;
        padding: 1em;
    }


    .main-editor-header>.main-editor-logo {
        font-size: 1.375em;
    }


    /* editor-nav */

    .editor-nav {
        background-color: azure;
        gap: 0.5em;
    }
}

/* LARGE  */
@media (min-width: 1080px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

    /* gallery-container */

    .gallery-container {
        column-count: 4;
    }

    .my-meme-container {
        column-count: 4;
    }

    /* generator-container */

    .generator-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}