:root {
    /* COLORS */
    --site-background-color: #53a0f9;
    --background-color-gallery: rgb(0, 0, 0, 0.3);
    --background-color-generator: rgb(0, 0, 0, 0.3);
    --background-color-Seved-meme: rgb(0, 0, 0, 0.3);
    --background-color-about: rgb(0, 0, 0, 0.3);
    --background-color-btn-editor: #98a2ba;

    --white-color: white;
    --black-color: black;

    --editor-btn-hover: rgb(114, 123, 123);
    --editor-btn-font-size: rgb(36, 36, 192);


    --background-color-filters: rgb(81, 155, 239);
    --color-filters-shadow: #4d68b1;

    --editor-font-color: rgb(2, 12, 101);
    --editor-font-hover-color: rgb(197, 249, 249);

    --main-font-color: #ffffff;

    --key-btn-color: #2933be;
    --key-btn-color-shadow: #141b7b;
    --key-btn-color-hover: #3f49d6;

    --key-btn-color-green: rgb(38, 171, 156);
    --key-btn-color-shadow-green: rgb(24, 122, 120);
    --key-btn-color-hover-green: rgb(97, 222, 205);

    --key-btn-color-purple: purple;
    --key-btn-color-shadow-purple: rgb(84, 1, 84);
    --key-btn-color-hover-purple: rgb(163, 4, 163);

    /* LAYOUT SIZE */
    --s: 600px;
    --m: 800px;
    --l: 1080px;
}