.canvas-container {
    width: 80vw;
    background-color: var(--white-color);
}

.canvas-container>.main-canvas {
    direction: ltr;
    background-color: var(--white-color);
    outline: solid 10px var(--white-color);
}