.gallery-container,
.my-meme-container {
    min-height: 60vh;
    gap: 10px;
    background-color: var(--background-color-gallery);
    border-radius: 10px;
}

.gallery-container>.photo-card,
.my-meme-container>.photo-card {
    display: flex;

    border-radius: 5px;
    margin-block-end: 10px;
    cursor: pointer;

    overflow: hidden;

    /* box-shadow: 3px 3px 0 3px rgb(0, 0, 0, 0.5); */
}

.gallery-container>.photo-card>.meme-image,
.gallery-container>.photo-card>.upload-btn,
.my-meme-container>.photo-card>.upload-btn,
.my-meme-container>.photo-card>.meme-image {
    width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    scale: 1.05;
    transition: 200ms;
}

.photo-card:hover .meme-image,
.photo-card:hover .upload-btn,
.my-meme-container .meme-image {
    scale: 1;

}