.main-meme-generator {
    align-content: center;
    gap: 10px;
    margin-block-end: 1em;
    border-radius: 10px;
    background: linear-gradient(12deg, #3d3f45 3%, #646b82 100%);
}

.canvas-box {
    grid-column: 1;
    width: 100%;
    background-image: url(/images/back.jpg);
    outline: solid 1px rgb(255, 255, 255);
}

.canvas-container {
    width: 100%;
    height: 100%;
}

.canvas-container>.main-canvas {
    direction: ltr;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    outline: solid 1px rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px #4d4d4d;
}