.main-editor {
    display: flex;
    flex-direction: column;
    padding-block: 0.5em;
    padding-inline: 0.3em;
    background: linear-gradient(12deg, #3d3f45 3%, #646b82 100%);
    outline: solid 1px rgb(255, 255, 255);
}

.main-editor>.meme-text-input {
    border-radius: 0.7em;
    padding-block: 0.5em;
    margin: 10px;
}

.main-editor>.emojis-box {
    background-color: var(--white-color);
    border-radius: 10px;
    margin-block-end: 1em;
    place-content: center;
}

.main-editor>.emojis-box>.emoji {
    cursor: pointer;
}