.main-saved-meme {
    min-height: 80vh;
    place-items: center;
    justify-items: center;
    background-color: var(--background-color-Seved-meme);
    margin-block-end: 1em;
}


.main-saved-meme>.saved-meme>img {
    width: 100%;
    object-fit: contain;
    outline: solid 10px white;
}