.main-editor-header {
    margin-block-end: 1em;
    color: var(--editor-font-color);
}

.main-editor-header>.main-editor-logo {
    filter: drop-shadow(1px 1px 0px var(--key-btn-color-shadow));
}

.main-editor-header>.editor-header-btns {
    gap: 0.5em;
}

.main-editor-header>.editor-header-btns>button {

    border: none;
    padding: 0.4em;
    width: 2em;
    font-size: 1.0625em;
    background: linear-gradient(12deg, #3d3f45 3%, #646b82 100%);
    color: var(--editor-font-color);
    border-radius: 10px;

    &:hover {
        color: white;
    }
}

.main-editor-header>.editor-header-btns>.line-count {
    font-size: 1.25em;
    text-align: center;
    width: 4em;
    font-weight: bold;
    color: var(--editor-font-color);
}