.main-editor {
    background-color: var(--background-color-editor);
    border-radius: 1em;
    padding-block: 0.5em;
    padding-inline: 0.3em;
    box-shadow: 3px 3px 0 3px rgb(0, 0, 0, 0.5);
    height: max-content;
}

.main-editor>.meme-text-input {
    border-radius: 0.7em;
    padding-block: 0.5em;
    margin: 10px;
}

.main-editor>.emojis-box {
    background-color: var(--white-color);
    border-radius: 10px;
    margin-block-end: 1em;
    place-content: center;
}

.main-editor>.emojis-box>.emoji {
    font-size: 1.5em;
    cursor: pointer;

}