.main-logo {
    position: relative;
}

.main-logo:hover .chibi-logo {
    rotate: 30deg;
    animation: rubberBand 500ms;
}

body.rtl .main-logo:hover .chibi-logo {
    rotate: 30deg;
    animation: rubberBand 500ms;
}

.main-logo>a {
    color: var(--main-font-color);
    font-weight: bold;
}

.main-logo .chibi-logo {
    position: absolute;
    aspect-ratio: auto;
    rotate: -10deg;
    transition: 500ms;
}

body.rtl .main-logo .chibi-logo {
    position: absolute;
    aspect-ratio: auto;
    rotate: -10deg;
    transition: 500ms;
}