.main-editor-header {
    margin-block-end: 1em;
    color: var(--editor-font-color);
}

.main-editor-header>.main-editor-logo {
    font-size: 1em;
    filter: drop-shadow(1px 1px 0px var(--key-btn-color-shadow));
}


.main-editor-header>.editor-header-btns {
    gap: 0.5em;
}

.main-editor-header>.editor-header-btns>button {

    border: none;
    padding: 0.4em;
    width: 2em;
    font-size: 1.0625em;
    background-color: var(--background-color-editor);
    color: var(--editor-font-color);

    &:hover {
        color: var(--editor-font-hover-color);
    }
}

.main-editor-header>.editor-header-btns>.line-count {
    font-size: 1.25em;
    text-align: center;
    width: 4em;
    font-weight: bold;
    color: var(--editor-font-color);
}