*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Chewy, sans-serif;
    font-family: LuckiestGuy, sans-serif;
    font-family: Fredoka, sans-serif;
    line-height: 1.25;
}

body {
    font-size: 1rem;
    margin: 0;
    background-color: var(--site-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0;
}


a {
    /* temporary */
    color: black;

    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}

input {
    border: none;

    &:focus {
        outline: none;
    }
}