.main-layout {
    display: grid;
    grid-template-columns: 5px 1fr 5px;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

/* header-content */
.header-content {
    justify-content: start;
}

.main-header>.header-content {
    margin-block: 1em;
}

/* main-logo */

.main-header>.header-content .site-image-logo {
    width: 180px;
}

.main-logo .chibi-logo {
    position: absolute;
    top: -15px;
    left: 2em;
    width: 40px;
}

body.rtl .main-logo .chibi-logo {
    position: absolute;
    top: -15px;
    right: 2em;
    width: 40px;
}

/* main-nav */

.main-nav>ul>li {
    margin-inline-end: 1em;
}

.langBtn {
    margin-inline-start: 1em;
}

/* main-meme-generator */
.canvas-box {
    margin-block-end: 1em;
}

.main-editor>.emojis-box>.emoji {
    font-size: 1.5em;

}

/* .main-gallery-filters */
.main-gallery-filters {
    flex-direction: column;
    padding: 0.5em;
}

/* gallery-container */

.gallery-container {
    column-count: 2;
    padding-inline: 1em;
}

/* my-meme-container */

.my-meme-container {
    column-count: 2;
    padding-inline: 1em;
}

/* .main-saved-meme */
.main-saved-meme {
    place-content: center;
}

.main-saved-meme>.saved-meme {
    width: 90%;
    margin-block: 1em;
}


main {
    min-height: 90vh;
}