.main-layout {
    display: grid;
    grid-template-columns: 5px 1fr 5px;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

/* main-nav */

.main-nav>ul>li {
    margin-inline-end: 1em;
}

/* main-meme-generator */
.main-meme-generator {
    min-height: 80vh;
}

/* .main-gallery-filters */
.main-gallery-filters {
    flex-direction: column;
    padding: 0.5em;
}

/* gallery-container */

.gallery-container {
    column-count: 2;
    padding-inline: 1em;
}

/* my-meme-container */

.my-meme-container {
    column-count: 2;
    padding-inline: 1em;
}

/* canvas-container */
.canvas-container {
    margin-block-end: 1em;
}

/* .main-saved-meme */
.main-saved-meme {
    place-content: center;
}

.main-saved-meme>.saved-meme {
    width: 90%;
    margin-block: 1em;
}